<section class="where">
  <div class="where-item">
    <div class="where-item__info">
      <h3>When & Where_</h>
      <span><%= l(@event.start_at) %></span>
      <span><%= @event.place_title %></span>
      <span>Oktyabrskaya str. 16a, Minsk</span>
      <%= link_to "register", "https://t.me/minskrbbot", class: "button btn", target: "_blank" %>
    </div>
    <div class="where-item__map">
      <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDc4bU611NyBZ_2PJxohPbLTpQWk7UUiaw&q=Грушевская 124">
      </iframe>
    </div>
  </div>
</section>
