<section class="error">
  <div class="error-description">
    <div class="error-description__code" alt="422">422</div>
    <div class="error-description__message">It’s an error</div>
  </div>
  <div class="error-notice">
    Sorry, Unprocessable Entity error :(<br>
    Check back later, or go to Minsk.rb.
  </div>
</section>
