.contact-form {

  h1 {
  color: #fff;
  font-size: 64px;
  line-height: 95px;
  margin-top: 105px;
  margin-left: 13.75%;
  }

  form {
    display: flex;
    flex-direction: column;
    margin-top: 34px;
    margin-left: 26.67%;
    width: 44.51%;

    input[type=text],
    textarea {
      font-family: "Space mono", monospace;
      padding: 10px 26px 14px;
      margin-bottom: 20px;
      background-color: #242424;
      border: 2px solid #222;
      box-sizing: border-box;
      line-height: 36px;
      color: #c6f6eb;
      font-size: 24px;
      transition: border-color 2s;
      outline: none;

      &:hover {
        border-color: #50e3c2;
      }
    }

    textarea {
      height: 240px;
      padding: 14px 26px;
      resize: vertical;
    }

    input[type=submit] {
      height: 60px;
      margin-top: 10px;
      font-family: "Space mono", monospace;
      font-size: 28px;
      text-transform: uppercase;
      font-style: italic;
      font-weight: bold;
      color: #1d1d1d;
      background-color: #50e3c2;
      border: none;
      transition: opacity 0.5s;
      &:hover {
        opacity: 0.6;
      }
    }
  }
}

@media screen and (max-width: 768px) {

  .contact-form {

    form {
      margin: auto;
      width: 79.04%;
    }
  }
}

@media screen and (max-width: 375px) {

  .contact-form {

    form {
      margin: auto;
      width: 89.33%;
    }
  }
}
