<section class="show-about">
  <div class="show-about-content">
    <h1>Minsk.rb Beer Up!</h1>
    <div class="show-about-content__info">
      <div class="show-about-content__info__date">28 Sep 2017</div>
      <div class="show-about-content__info__description">
        Synth polaroid bitters chillwave pickled. Vegan disrupt tousled, Portland keffiyeh aesthetic food sriracha cornhole single-origin coffee church-key roof party. Leggings McSweeney's, normcore you probably haven't heard of them Marfa organic squid.Slow-carb 90's ennui Godard pug asymmetrical, narwhal VHS Tonx High Life. Retro synth Godard pickled Etsy jean shorts beard, pour-over fanny pack mumblecore!
      </div>
      <div class="show-about-content__info__media">
        <h3>media partners</h3>
        <div class="links">
          <%= link_to "Rubyroid Labs","https://rubyroidlabs.com/", target: "_blank"%>
          <%= link_to "Datarockets", "https://datarockets.com", target: "_blank" %>
          </div>
      </div>
    </div>
  </div>
</section>
