<section class="show-videos">
  <div class="show-videos-content">
    <ul class="show-videos-content__nav">
      <li><%= link_to "speakers", "#" %></li>
      <li><%= link_to "videos", "#" %></li>
      <li><%= link_to "photos", "#" %></li>
    </ul>

    <div class="show-videos-content__videos">
      <div class="card">
        <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY?showinfo=0">
        </iframe>
        <p class="card__name">When the boobs whole world is your database (Sergey Sergyenko)</p>
      </div>
      <div class="card">
        <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY?showinfo=0">
        </iframe>
        <p class="card__name">When the boobs whole world is your database (Sergey Sergyenko)</p>
      </div>
      <div class="card">
        <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY?showinfo=0">
        </iframe>
        <p class="card__name">When the boobs whole world is your database (Sergey Sergyenko)</p>
      </div>
      <div class="card">
        <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY?showinfo=0">
        </iframe>
        <p class="card__name">When the boobs whole world is your database (Sergey Sergyenko)</p>
      </div>
    </div>
  </div>
</section>
