.friends-page {
  position: relative;

  h3 {
    color: #fff;
    margin: 0;
    margin-top: 57px;
    margin-bottom: 30px;
    margin-left: 6.94%;
    font-size: 44px;
    line-height: 65px;
    position: relative;

    &:after {
      content: "Our Friends_";
      color: #50e3c2;
      font-size: 54px;
      line-height: 79px;
      position: absolute;
      bottom: 0px;
      left: -10px;
      opacity: 0.1;
    }
  }

  &-content {
    margin: 0 auto;
    width: 72.24%;
    display: flex;
    justify-content: space-between;

    &__card {
      width: 31.73%;
      height: 360px;
      background-color: #242424;
      display: flex;
      flex-direction: column;
      align-items: center;

      .cybergizer,
      .datarockets {
        margin-top: 60px;
      }

      .rubyroidlabs {
        margin-top: 50px;
      }

      .links {
        width: 100%;
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        a {
          margin-left: 24.24%;
          text-align: left;
          color: #50e3c2;
          transition: opacity 0.5s;
          font-size: 17px;
          line-height: 30px;

          &:before {
            content: '>> ';
          }

          &:hover {
            opacity: 0.6;
          }
        }
      }

      .icons {
        display: none;
      }

      &:not(:first-child) {
        .links {
          margin-top: 35px;
        }
      }
    }
  }

  &-links {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 331px;
    transform: rotate(90deg);
    position: absolute;
    top: 130px;
    right: -125px;

    a {
      font-size: 15px;
      line-height: 15px;
      margin-right: 15px;
      color: #50e3c2;

      &:hover {
        opacity: 0.6;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .friends-page {
    h3 {
      font-size: 34px;
      line-height: 50px;
      margin-left: 6.51%;

      &:after {
        font-size: 44px;
        line-height: 65px;
        bottom: 2px;
      }
    }

    &-content {
      width: 65.1%;
      flex-direction: column;

      &__card {
        margin-top: 20px;
        margin-left: 0;
        width: 100%;
        height: 116px;
        align-items: flex-start;

        .cybergizer,
        .datarockets {
          margin-top: 20px;
          margin-left: 30px;
          height: 18px;
        }

        .rubyroidlabs {
          margin-top: 20px;
          margin-left: 30px;
          height: 34px;
        }

        .links {
          margin-top: 10px;
          margin-left: 14%;
          width: 69.2%;
          flex-direction: row;
          justify-content: unset;

          a {
            margin-left: 0;
            font-size: 14px;
            line-height: 21px;
            margin-right: 10px;

            &:before {
              content: none;
            }
          }
        }

        &:not(:first-child) {
          .links {
            margin-top: 20px;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 550px) {
  .friends-page {
    margin-bottom: 90px;
    h3 {
      font-size: 24px;
      line-height: 36px;
      margin-left: 5.33%;

      &:after {
        font-size: 30px;
        line-height: 45px;
        bottom: 2px;
      }
    }

    &-content {
      width: 73.6%;

      &__card {
        height: 119px;
        align-items: center;

        .cybergizer,
        .datarockets {
          margin-top: 20px;
          margin-left: 0;
          height: 18px;
        }

        .rubyroidlabs {
          margin-top: 20px;
          margin-left: 0;
          height: 34px;
        }

        .links {
          display: none;
        }

        .icons {
          display: block;
          margin-top: 20px;

          a {
            color: #50e3c2;

            svg {
              width: 22px;
              height: 22px;
            }
          }
        }

        &:first-child {
          .icons {
            margin-top: 13px;
          }
        }
      }
    }

    &-links {
      display: none;
    }
  }
}
