.events {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .view-port {
    margin-left: 5%;
    overflow: hidden;
    width: 73.08%;
    height: 500px;

    .slider-wrapper {
      margin-left: 4%;
      width: 96%;
      position: relative;
      top: 0;
      left: 0;
      transition: ease 1s;

      .events-content {
        padding-top: 50px;
        padding-bottom: 56px;
        background-color: #242424;
        color: #fff;
        min-height: 500px;

        &__link {
          display: inline-block;
          margin: 0;
          margin-left: -41px;
          font-size: 60px;
          line-height: 89px;
          font-weight: bold;
          color: #fff;
          transition: 0.5s;

          &:hover {
            background-color: rgba(80, 227, 194, 0.2);
          }
        }

        &__date {
          margin: 0;
          margin-top: 5px;
          margin-left: -41px;
          font-size: 24px;
          line-height: 36px;
        }

        &__shedule {
          margin-top: 47px;
          margin-left: 5.56%;

          .item {
            display: flex;
            align-items: baseline;
            margin-top: 10px;
            color: #fff;

            p {
              margin: 0;
              margin-left: 5px;
              font-weight: 300;
              font-size: 16px;
              line-height: 19px;

              b {
                font-size: 18px;
                line-height: 24px;
                font-family: "Roboto", serif;
                font-weight: bold;
              }
            }
          }
        }

        &__links {
          display: flex;
          margin-left: 5.56%;
          margin-top: 50px;

          a {
            color: #fff;
            transition: opacity 0.5s;

            &:hover {
              opacity: 0.6;
            }

            .icon {
              width: 20px;
              height: 18px;
            }

            &:last-child {
              margin-left: 50px;
            }
          }
        }
      }
    }
  }

  &-selector {
    margin-top: 68px;
    margin-left: 2%;
    display: flex;
    align-items: center;
    user-select: none;

    &-scroll {
      height: 134px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: #fff;

      &__up,
      &__down {
        font-family: serif;
        color: #50e3c2;
        font-size: 70px;
        transform: rotate(90deg);
        cursor: pointer;
        opacity: 0.6;

        &:hover {
          opacity: 1;
        }
      }

      &__scroll {
        font-family: "Roboto", serif;
        font-size: 15px;
        line-height: 18px;
        padding-left: 7px;
      }
    }

    &-count {
      margin-left: 40px;
      color: #fff;
      font-size: 70px;
      line-height: 103px;
    }
  }
}

@media screen and(max-width: 950px) {
  .events {
    margin-top: 80px;
    margin-bottom: 180px;

    .view-port {
      width: 79.66%;
      margin-left: 3%;

      .slider-wrapper {
        margin-left: 7%;
        width: 93%;

        .events-content {
          &__link {
            font-size: 50px;
            line-height: 74px;
          }

          &__shedule {
            margin-left: 8.5%;
          }

          & .item {
            p {
              width: 89.1%;
            }
          }
        }
      }
    }

    &-selector {
      &-count {
        display: none;
      }
    }
  }
}

@media screen and(max-width: 550px) {
  .events {
    margin-top: 80px;
    margin-bottom: 180px;

    .view-port {
      width: 100%;
      margin-left: 3%;

      .slider-wrapper {
        margin-left: 7%;
        width: 93%;

        .events-content {
          &__link {
            margin-left: -20px;
            font-size: 32px;
            line-height: 48px;
          }

          &__date {
            margin-left: -20px;
            font-size: 20px;
            line-height: 29px;
          }

          &__shedule {
            margin-left: 8.5%;
          }

          & .item {
            p {
              width: 89.1%;
            }
          }
        }
      }
    }

    &-selector {
      order: 1;
      margin: 0 auto;
      margin-top: 30px;
      &-count {
        display: block;
      }
    }
  }
}
