<section class="speakers">
  <h3>Speakers_</h3>
  <div class="speakers-item">
    <% @speakers.each do |speaker| %>
      <div class="speakers-item__card">
        <%= image_tag photo(speaker.image) %>
        <p><%= speaker.speaker_name %></p>
      </div>
    <% end %>
  </div>
</section>
