<section class="speakers">
  <h3>Speakers_</h3>
  <div class="speakers-item">
      <div class="speakers-item__card">
        <%= image_tag asset_pack_path('components/speakers/static/man.png') %>
        <p>Sergey Sergyenko</p>
      </div>
      <div class="speakers-item__card">
        <%= image_tag asset_pack_path('components/speakers/static/man2.png') %>
        <p>Alexandra Smirnova</p>
      </div>
      <div class="speakers-item__card">
        <%= image_tag asset_pack_path('components/speakers/static/man3.png') %>
        <p>Kirill Suhodolov</p>
      </div>
      <div class="speakers-item__card">
        <%= image_tag asset_pack_path('components/speakers/static/man4.png') %>
        <p>Aliaksandr Lomau</p>
      </div>
  </div>
</section>
