<section class="speakers">
  <h3>Speakers_</h3>
  <div class="speakers-item">
    <% @talks.each do |talk| %>
      <div class="speakers-item__card">
        <%= image_tag photo(talk.image) %>
        <p><%= talk.speaker_name %></p>
      </div>
    <% end %>
  </div>
</section>
