<section class="shedule">
  <div class="shedule-item">
  <h3>Shedule_</h3>
      <div class="shedule-item__event">
        <p>11.00</p>
        <p>Registration and Welcome Coffee</p>
        <p></p>
      </div>
      <div class="shedule-item__event">
        <p>11.30</p>
        <p>Anfi-IF Missing Pattern</p>
        <p>— Sergey Sergyenko</p>
      </div>
      <div class="shedule-item__event">
        <p>12.00</p>
        <p>Coffe break</p>
        <p></p>
      </div>
      <div class="shedule-item__event">
        <p>12.30</p>
        <p>Vim or not to Vim</p>
        <p>— Anatoli</p>
      </div>
      <div class="shedule-item__event">
        <p>13.30</p>
        <p>Anfi-IF Missing Pattern</p>
        <p>— Sergey Sergyenko</p>
      </div>
  </div>
</section>
