<section class="shedule">
  <div class="shedule-item">
  <h3>Shedule_</h3>
    <% 5.times do %>
      <div class="shedule-item__event">
        <p>11.00</p>
        <p>Coffe Break</p>
      </div>
    <% end %>
  </div>
</section>
