<section class="error">
  <div class="error-description">
    <div class="error-description__code">404</div>
    <div class="error-description__message">It’s an error</div>
    <ul class="error-description__shared">
      <%= link_to "Facebook", "#" %>
      <%= link_to "Youtube", "#" %>
      <%= link_to "Vkontakte", "#" %>
    </ul>
  </div>
  <div class="error-notice">
    Sorry, the page you were looking for doesn’t exist :(<br>
    Check back later, or go to Minsk.rb.
  </div>
</section>
