<section class="friends">
  <h1>Our Friends_</h1>
  <div class="friends-item">
    <%= link_to image_tag asset_pack_path('components/friends/static/rubyroidlabs.svg'), class: "friends-item__link rubyroid" %>
    <%= link_to image_tag asset_pack_path('components/friends/static/datarockets.svg'), class: "friends-item__link datarockets" %>
    <%= link_to image_tag asset_pack_path('components/friends/static/cybergizer.svg'), class: "friends-item__link cybergizer" %>
  </div>
</section>
