<section class="friends">
  <h1>Our Friends_</h1>
  <div class="friends-item">
    <%= link_to image_tag(asset_pack_path('components/friends/static/rubyroidlabs.svg'), class: "friends-item__link rubyroid"), "https://rubyroidlabs.com/", target: "_blank" %>
    <%= link_to image_tag(asset_pack_path('components/friends/static/datarockets.svg'), class: "friends-item__link datarockets"), "https://datarockets.com/", target: "_blank" %>
    <%= link_to image_tag(asset_pack_path('components/friends/static/cybergizer.svg'), class: "friends-item__link cybergizer"), "https://cybergizer.ai/", target: "_blank" %>
  </div>
</section>
