.show-nav {
  margin: 0;
  padding: 0;

  li {
    font-size: 24px;
    font-weight: bold;
    line-height: 60px;
    text-transform: uppercase;

    a {
      color: #fff;
    }

    &.active {
      a {
        position: relative;

        &::after {
          background-color: #50e3c2;
          content: '';
          height: 4px;
          left: -10%;
          position: absolute;
          top: 18px;
          width: 120%;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .show-nav {
    display: flex;
    justify-content: space-between;
    width: 52.6%;

    li {
      font-size: 22px;
      line-height: 33px;
    }
  }
}

@media screen and (max-width: 550px) {
  .show-nav {
    margin: 0 auto;
    width: 89.07%;

    li {
      font-size: 18px;
      line-height: 26px;

      &.active {
        a {
          &::after {
            top: 10px;
          }
        }
      }
    }
  }
}
