@import "normalize.css/normalize.css";

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: #2c2c2c;

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
  }
}
