<section class="show-speakers">
  <div class="show-speakers-content">
    <%= yield %>

    <div class="show-speakers-content__speakers">
      <% @talks.each do |talk| %>
        <div class="card">
          <%= image_tag photo(talk.image), class: "card-photo" %>
          <div class="card-description">
            <p class="card-description__name"><%= talk.speaker_name %></p>
            <h3 class="card-description__topic"><%= talk.title %></h3>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
