<section class="announcement">
  <div class="announcement-item">
    <p class="announcement-item__time">26 Oct  19-00</p>
    <p class="announcement-item__dash"></p>
    <h3 class="announcement-item__title">Minsk.rb Beer Up!</h3>
    <div class="announcement-item__organization">
      <span class="org">EventSpace.by</span>
      <span class="when">/    Oktyabrskaya str. 16a, Minsk</span>
    </div>
    <button class="btn">register</button>
    <a href="#event" id="to_event" class="announcement-item__link">View details</a>
  </div>
</section>
