.announcement {
  &-item {
    width: 86.74%;
    margin-left: 5.83%;
    color: #fff;

    &__time {
      font-size: 40px;
      line-height: 40px;
    }

    &__dash {
      width: 50px;
      height: 6px;
      background-color: #fff;
    }

    &__title {
      font-size: 6.94vw;
      line-height: 6.94vw;
      position: relative;

      &::after {
        content: "Minsk.rb Beer Up!";
        color: #2c4943;
        position: absolute;
        font-size: 8vw;
        bottom: 24%;
        left: 0;
        z-index: -1;
      }
    }

    &__link {
      color: #50E3C2;
      font-size: 20px;
      line-height: 29px;
      font-weight: bold;
      margin-left: 3.47%;

      &:visited {
        color: #50E3C2;
      }

      &:hover {
        opacity: 0.6;
      }
    }
  }
}
