.announcement {
  &-item {
    width: 86.74%;
    margin-left: 6.94%;
    color: #fff;
    position: relative;

    &__time {
      margin: 0;
      margin-top: 89px;
      font-size: 40px;
      line-height: 40px;
    }

    &__dash {
      margin-top: 53px;
      width: 50px;
      height: 6px;
      background-color: #fff;
    }

    &__title {
      margin: 0;
      margin-top: 86px;
      font-size: 6.94vw;
      line-height: 6.94vw;
      position: relative;

      &::after {
        content: attr(alt);
        color: #2c4943;
        position: absolute;
        font-size: 7.33vw;
        bottom: 24px;
        left: -16px;
        z-index: -1;
      }
    }

    &__organization {
        margin-top: 38px;

        span {
          font-family: "Roboto", serif;
            &:nth-child(2) {
              font-size: 30px;
              line-height: 35px;
            }

            &:nth-child(3) {
              margin-left: 15px;
              margin-right: 15px;
            }

            &:last-child,
            &:nth-child(3) {
              font-size: 22px;
              line-height: 25px;
            }
        }
    }

    &__link {
      color: #50e3c2;
      font-size: 20px;
      line-height: 29px;
      font-weight: bold;
      margin-left: 3.47%;
      transition: opacity 0.3s ease;

      &:visited {
        color: #50e3c2;
      }

      &:hover {
        opacity: 0.6;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .announcement {
    &-item {
      &__time {
        margin-top: 60px;
      }

      &__dash {
        margin-top: 49px;
      }

      &__title {
        margin-top: 50px;

        &::after {
          bottom: 20px;
        }

      }

      &__organization {
        margin-top: 23px;
      }

      .btn {
        margin-top: 68px;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .announcement {
    &-item {
      &__time {
        margin-top: 54px;
        font-size: 20px;
        line-height: 40px;
      }

      &__dash {
        margin-top: 26px;
        width: 30px;
        height: 3px;
      }

      &__title {
        margin-top: 33px;

        &::after {
          bottom: 15px;
          left: -10px;
        }
      }

      &__organization {
        margin-top: 23px;
        span {
          font-size: 20px;
          line-height: 24px;
        }
      }

      .btn {
        margin-top: 50px;
        font-size: 22px;
        line-height: 33px;
        padding: 9px 19px;
        border-width: 5px;
      }

      &__link {
        font-size: 15px;
        line-height: 22px;
      }
    }
  }
}
