<section class="about-page">
  <h1>We are Minsk.rb_</h1>
  <div class="about-page-item">
    <p class="about-page-item__info">
      Fixie tote bag ethnic keytar. Neutra vinyl American Apparel kale chips tofu art party, cardigan raw denim quinoa. Cray paleo tattooed, Truffaut skateboard street art PBR jean shorts Shoreditch farm-to-table Austin lo-fi Odd Future occupy. Chia semiotics skateboard, Schlitz messenger bag master cleanse High Life occupy vegan polaroid tote bag leggings. Single-origin coffee mumblecore deep v salvia mlkshk. Organic photo booth cray tofu, vegan fixie bitters sriracha. Blog Austin Wes Anderson, deep v pour-over trust fund vinyl mlkshk +1.
    </p>
    <div class="about-page-item__scource">
      <div class="card">
        <h3>20+</h3>
        <p>events</p>
      </div>
      <div class="card">
        <h3>50+</h3>
        <p>speackers</p>
      </div>
      <div class="card">
        <h3>900+</h3>
        <p>visitors</p>
      </div>
      <div class="card">
        <h3>3</h3>
        <p>years</p>
      </div>
    </div>
  </div>
</section>
