<section class="show-photos">
  <div class="show-photos-content">
    <%= yield %>

    <div class="show-photos-content__photos">
      <% @photos.each do |photo| %>
        <%= image_tag photo.photo %>
      <% end %>
    </div>
  </div>
</section>
