.show-photos {
  &-content {
    margin-top: 80px;
    margin-left: 7.29%;
    display: flex;

    &__photos {
      margin-left: 6.74%;
      display: flex;
      flex-wrap: wrap;

      & img {
        width: 200px;
        height: 200px;
        margin-bottom: 40px;
        margin-right: 40px;
      }
    }
  }

  &-modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);

    .close {
      position: absolute;
      top: 15px;
      right: 35px;
      color: #f1f1f1;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;

      &:hover,
      &:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
      }
    }
    .modal-content {
      width: 80%;
      max-width: 700px;
      animation-name: zoom;
      animation-duration: 0.6s;
    }
  }
}

  @keyframes zoom {
      from {transform:scale(0)}
      to {transform:scale(1)}
  }


@media screen and (max-width: 900px) {
  .show-photos {
    &-content {
      margin-top: 50px;
      margin-left: 7.16%;
      flex-direction: column;

      &__photos {
        margin: 0;
        margin-top: 60px;

        & img {
          margin-bottom: 34px;
          margin-right: 34px;
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .show-photos {
    &-content {
      margin: 0 auto;
      margin-top: 40px;

      &__photos {
        width: 90%;
        margin: 0 auto;
        margin-top: 50px;
        justify-content: space-between;

        & img {
          width: 157px;
          height: 157px;
          margin-bottom: 21px;
          margin-right: 0;
        }
      }
    }
  }
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
      width: 100%;
      height: auto;
  }
}