.show-photos {
  &-content {
    margin-top: 80px;
    margin-left: 7.29%;
    display: flex;

    &__photos {
      margin-left: 6.74%;
      display: flex;
      flex-wrap: wrap;

      & img {
        width: 200px;
        height: 200px;
        margin-bottom: 40px;
        margin-right: 40px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .show-photos {
    &-content {
      margin-top: 50px;
      margin-left: 7.16%;
      flex-direction: column;

      &__photos {
        margin: 0;
        margin-top: 60px;

        & img {
          margin-bottom: 34px;
          margin-right: 34px;
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .show-photos {
    &-content {
      margin: 0 auto;
      margin-top: 40px;

      &__photos {
        width: 90%;
        margin: 0 auto;
        margin-top: 50px;
        justify-content: space-between;

        & img {
          width: 157px;
          height: 157px;
          margin-bottom: 21px;
          margin-right: 0;
        }
      }
    }
  }
}
