<div id="modal" class="modal">
  <div class="modal-content">
    <h1>Thank you for contacting us!</h1>
    <p>Your message has been sent successfully</p>
    <div class="modal-content__close">ok</div>
  </div>
</div>
