<section class="about">
  <h1>We are Minsk.rb_</h1>
  <div class="about-item">
    <p>Minsk.rb группа нацеленная на возвращение славных добрых времен Ruby и сообщества. Пиво, кофе, разговоры о Ruby и жизни - всё тут.
    </p>
    <div class="about-item__scource">
      <div class="card">
        <h3>20+</h3>
        <p>events</p>
      </div>
      <div class="card">
        <h3>50+</h3>
        <p>speackers</p>
      </div>
      <div class="card">
        <h3>900+</h3>
        <p>visitors</p>
      </div>
      <div class="card">
        <h3>3</h3>
        <p>years</p>
      </div>
    </div>
    <%= link_to "Minsk.rb on Facebook >>", "https://www.facebook.com/groups/minsk.rb", target: "_blank", class: "about-item__link" %>
  </div>
</section>
