<main class="main">
  <div class="main-item">
    <p class="main-item__time">26 Oct  19-00</p>
    <p class="main-item__dash"></p>
    <h3 class="main-item__title">Minsk.rb Beer Up!</h3>
    <div class="main-item__organization">
      <span class="org">EventSpace.by</span>
      <span class="when">/    Oktyabrskaya str. 16a, Minsk</span>
    </div>
    <button class="btn">register</button>
    <a id="to_event" href="#event">View details</a>
  </div>
</main>
