.main {
  &-item {
    width: 86.74%;
    margin-left: 5.83%;
    color: #fff;

    &__time {
      font-size: 40px;
      line-height: 40px;
    }

    &__dash {
      width: 50px;
      height: 6px;
      background-color: #fff;
    }

    &__title {
      font-size: 6.94vw;
      line-height: 6.94vw;
      position: relative;

      &::after {
        content: "Minsk.rb Beer Up!";
        color: #2c4943;
        position: absolute;
        font-size: 8vw;
        bottom: 24%;
        left: 0;
        z-index: -1;
      }
    }
  }
}
