<section class="media">
  <h3>Media Partners_</h3>
  <div class="media-item">
    <div class="media-item__partners">
      <%= link_to ">> Rubyroid Labs", :root  %>
      <%= link_to ">> Datarockets", :root %>
    </div>
    <%= link_to "Become a media partner >>", :root %>
  </div>
</section>
