<section class="event" id="event">
  <h3>About Beer Up!_</h3>
  <div class="event-item">
    <p class="event-item__content">
      Fixie tote bag ethnic keytar. Neutra vinyl American Apparel kale chips tofu art party, cardigan raw denim quinoa. Cray paleo tattooed, Truffaut skateboard street art PBR jean shorts Shoreditch farm-to-table Austin lo-fi Odd Future occupy. Chia semiotics skateboard, Schlitz messenger bag master cleanse High Life occupy vegan polaroid tote bag leggings. Single-origin coffee mumblecore deep v salvia mlkshk. Organic photo booth cray tofu, vegan fixie bitters sriracha. Blog Austin Wes Anderson, deep v pour-over trust fund vinyl mlkshk +1.
    </p>
    <div class="event-share">
      <span class="event-share__title">Share +</span>
      <ul class="event-share__link">
        <%= link_to "Facebook", "#"  %>
        <%= link_to "Twitter", "#"  %>
        <%= link_to "LinkedIn", "#"  %>
        <%= link_to "Vkontakte", "#"  %>
      </ul>
    </div>
  </div>
</section>
