.event {
  color: #fff;

  h3 {
    margin-left: 14.65%;
    font-size: 44px;
    line-height: 65px;
  }

  &-item {
    p {
      color: #fff;
      font-size: 17px;
      line-height: 34px;
      font-family: "Roboto", serif;
    }
  }
}
